.container {
    position: relative;
    width: 600px;
    height: 520px;
    overflow: hidden;
    border-radius: var(--radius-md);
    background: var(--color-background-secondary);
}

.background {
    filter: blur(4px);
}

.track {
    position: fixed;
    top: -283px;
    left: 55px;
    width: 92%;
    height: 170%;
    z-index: 2;
    pointer-events: none;
    /* transform: rotate(50deg); */
    filter: drop-shadow(10px 10px 6px var(--color-background-secondary));
}

.trackOverlay {
    position: fixed;
    top: -283px;
    left: 55px;
    width: 92%;
    height: 170%;
    z-index: 1001;
    pointer-events: none;
}

.marker {
    stroke: white;
    stroke-width: 1;
    cursor: pointer;
    transition: r .2s;
}

.label {
    fill: white;
    font-size: 6px;
    font-weight: bold;
}